<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <meta name="description" content="Description">
    <meta name="author" content="Author">
    <link rel="stylesheet" href="layout.css">
</head>

<body>
<div id="container">
    <header>
        <h1>Hi</h1>
    </header>
    
    <nav>
        <ul>
            <li> Sound Project </li>
            <li> About Me </li>
            <li> Contact </li>
            <li> My Works </li>
        </ul>

    </nav>

    <article> 
    <figure>
    <img src="../picture/placeholder.jpg" width= 320 height= 240 alt="bartender">
    </figure>
    
        I like cheese
    </article>
    
    <aside> 
        oh no
    </aside>

    <footer>
        foot
    </footer>
</div>
</body>
</html>